<div class="row">
  <div *ngFor="let project of projects" class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
            <div class="float-left">
              <ng-container *ngIf="project.passed().length == project.tests.length;else info">
                <i  class="mdi mdi-poll-box text-success icon-lg"></i>
              </ng-container>
              <ng-template #info>
                <ng-container *ngIf="project.failed().length == 0;else warning">
                  <i class="mdi mdi-account-location text-info icon-lg"></i>
                </ng-container>
              </ng-template>
              <ng-template #warning>
                <ng-container *ngIf="project.failed().length == 0;else error">
                  <i class="mdi mdi-receipt text-warning icon-lg"></i>
                </ng-container>
              </ng-template>
              <ng-template #error>
                  <i class="mdi mdi-cube text-danger icon-lg"></i>
              </ng-template>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">{{project.name}}</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">Tests: {{project.tests.length}}</h3>
              </div>
            </div>
          </div>
          <p class="text-muted mt-3 mb-0">
            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Passed: {{project.passed().length}}, Running: {{project.running().length}},
            Failed: {{project.failed().length}}, Aborted: {{project.aborted().length}}
          </p>
      </div>
  </div>
  <div *ngIf="projects.length == 0" class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <h4 class="card-title">No projects found</h4>
        <p class="card-description">There are no projects, but you can create one.</p>
        <!--          TODO for admin only -->
        <a routerLink="/new_project" class="btn btn-success">New project</a>
      </div>
    </div>
  </div>
</div>
