<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/navbar/person.svg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{ userName | async }}</p>
            <div>
              <small class="designation text-muted">{{ userRole | async }}</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <!-- TODO disable button for non-admin users -->
        <a routerLink="/new_project" class="btn btn-success btn-block">New project
          <i class="mdi mdi-plus"></i>
        </a>
        <!-- TODO check permissions -->
        <a *ngIf="onProjectOpen()" (click)="newTest()" class="btn btn-success btn-block">New test
          <i class="mdi mdi-plus"></i>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-shield-outline"></i>
        <span class="menu-title">Alerts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/events" routerLinkActive="active">
        <i class="menu-icon mdi mdi-altimeter"></i>
        <span class="menu-title">Events</span>
      </a>
    </li>
  </ul>
</nav>
