<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <h4 class="card-title">Tests statistics</h4>
        <div *ngIf="loading" class="d-flex align-items-center">
          <strong>Loading...</strong>
          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
        <canvas *ngIf="projectData != null" baseChart width="400" height="400"
                [datasets]="projectData"
                [labels]="runDates"
                [colors]="lineChartColors"
                [legend]="true"
                [chartType]="chartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Project: {{project.name}}</h4>
        <p class="card-description">Description: {{project.description || 'not set'}}</p>
        <p class="card-description">Local path: {{project.localPath}}</p>
        <p class="card-description">Remote path: {{project.remotePath || 'not set'}}</p>
        <tag-input [ngModel]="teams"
                   [editable]="false"
                   [maxItems]="teams.length">
        </tag-input>
        <!--          TODO for admin only -->
        <!--        TODO new_project with filled it current project -->
        <button type="button" class="btn btn-success" (click)="editProject()">Edit</button>
      </div>
      <!--      TODO resources-->
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="project.tests && project.tests.length > 0" class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tests</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Name
              </th>
              <th>
                Status
              </th>
              <th>
                Modified
              </th>
              <th>
                Last run
              </th>
              <th>
                Action
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let test of project.tests; let i = index;">
<!--              TODO background color depends on the test.lastRun.status -->
              <td class="font-weight-medium">
                {{i}}
              </td>
              <td>
                {{test.name}}
              </td>
              <td>
                {{test.lastRun?.status}}
              </td>
              <td>
                {{test.updatedAt}}
              </td>
              <td>
                {{test.lastRun?.started || 'never'}}
              </td>
              <td>
                <button type="button" class="btn btn-primary" (click)="editTest(test)">Edit</button>
                <button
                  *ngIf="test.lastRun?.status == 'QUEUED' || test.lastRun?.status == 'STARTED'; else start"
                  type="button" class="btn btn-danger" (click)="stopTest(test)">Stop
                </button>
                <ng-template #start>
                  <button type="button" class="btn btn-success" (click)="startTest(test)">Start
                  </button>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!project.tests || project.tests.length == 0">No tests</div>
</div>
