<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Tests overview</h5>
        <div style="display: block">
          <canvas baseChart
                  [chartType]="chartType"
                  [data]="chartDatasets"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">System Info</h2>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Server version</p>
            <p *ngIf="systemInfo" class="display-3 mb-4 font-weight-light">{{systemInfo.version}}</p>
            <p *ngIf="!systemInfo" class="spinner-grow spinner-grow-sm col-sm" role="status" aria-hidden="true"></p>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Catcher version</p>
            <p *ngIf="systemInfo" class="display-3 mb-5 font-weight-light">{{systemInfo.catcher}}</p>
            <p *ngIf="!systemInfo" class="spinner-grow spinner-grow-sm col-sm" role="status" aria-hidden="true"></p>
          </div>
          <div class="side-right">
            <!--            TODO visible only for admin -->
            <button type="button" class="btn btn-primary btn-rounded btn-fw">update</button>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Python provider</p>
            <p *ngIf="systemInfo" class="display-3 mb-5 font-weight-light">{{systemInfo.pythonProvider}}</p>
            <p *ngIf="!systemInfo" class="spinner-grow spinner-grow-sm col-sm" role="status" aria-hidden="true"></p>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Python version</p>
            <p *ngIf="systemInfo" class="display-3 mb-5 font-weight-light">{{systemInfo.pythonVersion}}</p>
            <p *ngIf="!systemInfo" class="spinner-grow spinner-grow-sm col-sm" role="status" aria-hidden="true"></p>
          </div>
          <div class="side-right">
            <!--            TODO show if updatable (conda & venv) -->
            <!--            TODO visible only for admin -->
            <button type="button" class="btn btn-primary btn-rounded btn-fw">update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
